form {
    width: 23rem;
}

form h3 {
    letter-spacing: 1px;
}

.img {
    background: url("../../assets/Login/login.png");
    background-size: cover;
    height: 35%;
}

.logo {
    background: url("../../assets/Login/logo.png") no-repeat center center;
    height: 100%;
}

i {
    margin-right: 12px;
}

.form {
    height: 65%;
}

.link {
    color: #DB752C;
    text-decoration: none;
    display: block;
    text-align: right;
    margin: 0;
}

.link a {
    cursor: pointer;
}